/* symmetrisuus */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}
/* yleinen tyyli */
body {
    font-family: 'Comfortaa';
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    color: #222;
    line-height: 1.6;
  }
  
  /* otsikon muotoilu */
  h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  select {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: white;
    border-color: black;
    margin-bottom: 8px;
    font-size: 1.3rem;
    appearance: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: block;
    margin: 0 auto 2rem auto;
    text-align: center;
  }

  /* Leffanäytösten muotoilu */
  #Leffasäilö {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }

  .leffa {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  /* hoveria leffoihin */
  .leffa:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
  }

  .leffa h2 {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
  }
  
 .leffa p {
    margin: 0.5rem 0;
    color: #555;
    text-align: center;
  }

/* responsiivisuus mobiilissa */
  @media (max-width: 600px) {
    body {
      padding: 1rem;
    }
  
    h1 {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .dropdown-container {
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .dropdown-container select {
      width: 100%;
    }
  
    .card {
      padding: 1rem;
      font-size: 0.95rem;
    }
  }
  
  footer {
    text-align: center;
    margin-top: 30rem;
    font-size: 0.6rem;
    color: black;
    position: relative;
    flex-shrink: 0;
  }
